name: Build & Load Image to Local Windows Docker

on:
  workflow_dispatch:   # 手动触发测试（推荐先用这个）
  push:              # 或 push 到 main 分支自动触发
    branches: [main]

jobs:
  test:
    runs-on: [self-hosted, actions-runner]  # 如果你加了自定义 labels
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build Docker image & Load 到這台 Windows Docker
        run: |
          docker buildx build \
            --load \
            -t ci-cd:latest \
            -f Dockerfile \
            .
          echo "========== 建完的 images 清單 =========="
          docker images
      - name: 測試剛剛建好的 image
        run: |
          echo "成功！我是從 GitHub Actions 建出來的！"
          docker run --rm -d -p 8999:80 --name test ci-cd:latest